PORT=3000
MONGO_URL=
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
REDIS_URL=redis://localhost:6379
//get this from mailtrap
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=email

APP_URL=http://localhost
//get this from google cloud
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3000/google/callback
//get this from cloudinary
CLOUDNAME=
CLOUDINARY_SECRET=
CLOUDINARY_APIKEY=
